{% extends 'base.html.twig' %}

{% block title %}Détail des pêches{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Détail de la pêche {{ fishing.id }}</h1>
            </div>
        </div>
    </div>

    <div class="m-5">
        <table class="table">
            <tbody>
                {# <tr>
                    <th>Id</th>
                    <td>{{ fishing.id }}</td>
                </tr> #}
                <tr>
                    <th>Nom du pêcheur</th>
                    <td>{{ fishing.fisherName }}</td>
                </tr>
                <tr>
                    <th>Variété de poisson</th>
                    <td>{{ fishing.fishRace }}</td>
                </tr>
                <tr>
                    <th>Lieu</th>
                    <td>{{ fishing.place }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ fishing.date ? fishing.date|date('d-M-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Leurre utilisé</th>
                    <td>{{ fishing.lure }}</td>
                </tr>
                <tr>
                    <th>Météo</th>
                    <td>{{ fishing.weather }}</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <a href="{{ path('fishing_index') }}" role="button" class="btn btn-success mt-0 mb-0 ml-5">Retour à la liste</a>

    {# <a href="{{ path('fishing_edit', {'id': fishing.id}) }}" role="button" class="btn btn-primary">Modifier</a> #}

    {{ include('fishing/_delete_form.html.twig') }}
{% endblock %}
